<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.jk.prj.notice.map.NoticeMapper">
	<select id="noticeSelectList"
		resultType="co.jk.prj.notice.service.NoticeVO">
		SELECT * FROM NOTICE
		ORDER BY NOTICE_ID
	</select>

	<select id="noticeSelect"
		resultType="co.jk.prj.notice.service.NoticeVO">
		SELECT * FROM NOTICE WHERE NOTICE_ID = #{noticeId}
	</select>

	<insert id="noticeInsert"
		parameterType="co.jk.prj.notice.service.NoticeVO">
		<selectKey keyProperty="noticeId" resultType="int"
			order="BEFORE">
			SELECT CASE WHEN MAX(NOTICE_ID) IS NULL THEN 1 ELSE
			MAX(NOTICE_ID) + 1
			END
			AS ID
			FROM NOTICE
		</selectKey>
		INSERT INTO NOTICE (notice_id, notice_title, notice_subject)
		VALUES(#{noticeId},#{noticeTitle},#{noticeSubject})
	</insert>

	<delete id="noticeDelete"
		parameterType="co.jk.prj.notice.service.NoticeVO">
		DELETE FROM NOTICE WHERE NOTICE_ID = #{noticeId}
	</delete>

	<update id="noticeUpdate"
		parameterType="co.jk.prj.notice.service.NoticeVO">

		UPDATE NOTICE
		<set>

			<if test="noticeTitle != null"> NOTICE_TITLE = #{noticeTitle},</if>
			<if test="noticeSubject != null"> NOTICE_SUBJECT= #{noticeSubject}</if>

		</set>
		WHERE NOTICE_ID = #{noticeId}

	</update>

	<update id="noticeHitUpdate"
		parameterType="co.jk.prj.notice.service.NoticeVO">
		UPDATE NOTICE SET NOTICE_HIT = NOTICE_HIT + 1 WHERE
		NOTICE_ID = #{id}
	</update>

	<update id="noticeIdUpdate">
		UPDATE NOTICE SET NOTICE_ID = NOTICE_ID - 1 where NOTICE_ID<![CDATA[>]]>#{noticeId}
		
	</update>
</mapper>

